# 의존성
/node_modules

# 빌드된 파일
/build
/dist

# 로그 파일
*.log

# 에디터 디렉토리와 파일
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# 환경 설정 파일
.env
.env.prod
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

# 시스템 파일
.DS_Store
Thumbs.db

# 디버깅 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 로컬 IDE 설정
.vscode/

# 설치 에러 로그
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 다른 버전 관리 시스템
.svn
.hg

#
/public/*.png
/public/*.jpg
/public/*.txt