*.local
*.identcache
window server/__history
window server/Win32
window server/__recovery
commonlib/__history
web/.idea
__history
web/src/main/resources/static/mdb
web/src/main/resources/static/img
web/src/main/resources/application-link.properties
web/src/main/resources/application-db.properties
web/src/main/resources/application-key.properties
web/.ebextensions
window server/checkhung
window server/KakaoServer.dproj
*.dproj
web/src/main/resources/application-prod.properties
window server/checkhung
common
sdk/Test
sdk/Win32
sdk/AOBScanAPI.pas
sdk/FileUtils.pas
sdk/KakaoSDK32.res
sdk/uKakaoHandle.pas
sdk/uHookSignature.pas
sdk/MemAPI.pas
sdk/KakaoSDK32.dpr
web/app_logs
web/src/main/resources/application-smtp.properties
web/src/main/resources/application-oauth.yml
web/src/main/resources/application-redis.properties
sdk/uPrivateHook.pas
web/src/main/resources/application-kafka.properties
web/src/main/resources/application-messagebot.properties
