<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="head :: head"></th:block>
</head>
<body>
<div class="container my-2">
    <div class="body_search mb-7 m-2">
        <th:block th:include="nav :: nav"></th:block>

        <div class="container_0">
            <div class="form-outline mb-4">
                <input type="text" class="form-control" id="datatable-search-input" />
                <label class="form-label" for="datatable-search-input">Search</label>
            </div>
            <div id="datatable" class="datatable datatable-clickable-rows" data-mdb-selectable="true" data-mdb-clickable-rows="true" data-mdb-multi="true">
                <table>
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Role</th>
                            <th>UseCount</th>
                            <th>CreateDate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.role}"></td>
                            <td th:text="${user.getUseCount}"></td>
                            <td th:text="${#temporals.format(user.createDt, 'yyyy-MM-dd HH:mm')}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="text-center mt-2">
                <button id="btn_send_message" type="button" class="btn btn-link px-3 mb-4" data-mdb-toggle="modal" data-mdb-target="#exampleModal">Edit</button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="exampleModalLabel">Edit user</h6>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <select class="select" id="user_role">
                                <option value="GUEST">GUEST</option>
                                <option value="USER">USER</option>
                            </select>
                            <label class="form-label select-label">Role</label>
                            <br>
                            <div class="form-outline">
                                <input id="user_use_count" type="text" class="form-control" />
                                <label class="form-label" for="user_use_count">UseCount</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="save_users" type="button" class="btn btn-primary" data-mdb-dismiss="modal">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="modal-title"></h6>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p id="modal-body">
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script th:src="@{|/js/common.js?t=${tick}|}"></script>
<!-- MDB -->
<script type="text/javascript" src="/mdb/js/mdb.min.js"></script>
<script>
    $(document).ready(function() {
        const instance = mdb.Datatable.getInstance($('#datatable'));
        const modal = $('#exampleModal2');
        const modalTitle = $('#modal-title');
        const modalBody = $('#modal-body');
        const modalInstance = new mdb.Modal(modal);

        document.getElementById('datatable-search-input').addEventListener('input', (e) => {
            instance.search(e.target.value);
        });

        datatable.addEventListener('selectRows.mdb.datatable', (e) => {
            console.log(e.selectedRows, e.selectedIndexes, e.allSelected);
        })

        datatable.addEventListener('rowClick.mdb.datatable', (e) => {
            var res = _get('/api/unlock?email=' + e.row.field_0.replace(" *", ""));
            if (res.message !== null) {
                const date = new Date(res.modifyDt);
                const formattedDate = `${date.getFullYear()}-${(date.getMonth() + 1).toString().padStart(2, "0")}-${date.getDate().toString().padStart(2, "0")} ${date.getHours().toString().padStart(2, "0")}:${date.getMinutes().toString().padStart(2, "0")}:${date.getSeconds().toString().padStart(2, "0")}`;
                modalTitle.text(e.row.field_0);
                modalBody.text(`[${formattedDate}]\n\n${res.message}`);
                modalInstance.show();
            }
        });

        $(document).on("click", "#save_users", function () {
            const selectedValues = $('.datatable-table tbody tr')
                .filter((index, element) => $(element).find('.datatable-row-checkbox').is(':checked'))
                .map((index, element) => $(element).find('td:eq(1)').text().replace(" *", ""))
                .toArray();

            console.log(selectedValues);

            const userRole = $('#user_role').val();
            const useCount = $('#user_use_count').val();

            _post('api/modify', {
                "emails": selectedValues,
                "role": userRole,
                "useCount": useCount
            });

            location.reload();
        });
    });
</script>
</body>