<head th:fragment=head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1.0, user-scalable=no" />
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="카카오스캔 - 번호 저장 없이 카카오톡 기본 프로필을 조회">
<meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
<meta itemprop="name" content="카카오스캔 - 번호 저장 없이 카카오톡 기본 프로필을 조회" />
<meta itemprop="url" content="https://kakaoscan.com/" />
<meta name="description" content="번호 저장 없이 카카오톡 기본 프로필을 조회 할 수 있습니다. 상대방은 조회 사실을 알 수 없습니다." />
<link rel="canonical" href="https://kakaoscan.com/" />
<meta property="og:locale" content="ko_KR" />
<meta property="og:type" content="website" />
<meta property="og:title" content="카카오스캔 - 번호 저장 없이 카카오톡 기본 프로필을 조회" />
<meta property="og:description" content="번호 저장 없이 카카오톡 기본 프로필을 조회 할 수 있습니다. 상대방은 조회 사실을 알 수 없습니다." />
<meta property="og:url" content="https://kakaoscan.com/" />
<meta property="og:site_name" content="카카오스캔 - 카톡 프로필 조회" />
<meta property="og:image" content="/img/og_image.png">
<meta name="google" content="notranslate">
<title>카카오스캔</title>
<link href="/img/title.png" rel="shortcut icon" type="image/x-icon">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
<!-- Font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- MDB -->
<link rel="stylesheet" href="/mdb/css/mdb.min.css"/>
<!-- style -->
<link rel="stylesheet" th:href="@{|/css/style.css?t=${tick}|}"/>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E01KBBPRE7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E01KBBPRE7');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1544509220864413"
        crossorigin="anonymous"></script>
</head>