<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="head :: head"></th:block>
</head>
<body>
<div class="container my-2">
    <div class="body_search mb-7 m-2">
        <th:block th:include="nav :: nav"></th:block>

        <div class="container_0">
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                <tr>
                    <th>프로필</th>
                    <th>조회일자</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="res : ${historyDTOS}">
                    <td>
                        <div class="d-flex align-items-center">
                            <img
                                    th:src="${res.scanResult.profileImageUrl != null and not #lists.isEmpty(res.scanResult.profileImageUrl)} ? ${res.scanResult.profileImageUrl} : '/img/empty_profile.png'"
                                    alt=""
                                    style="width: 45px; height: 45px"
                                    class="rounded-circle"
                            />
                            <div class="ms-3">
                                <p class="fw-bold mb-1" th:text="${res.scanResult.originName}"></p>
                                <p class="text-muted mb-0" th:text="${res.phoneNumber}"></p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="fw-normal mb-1" th:text="${#temporals.format(res.getModifyDt, 'yyyy-MM-dd HH:mm')}"></p>
                        <p class="text-muted mb-0" th:text="${res.remainingPeriod}"></p>

                    </td>
                </tr>
                </tbody>
            </table>

            <div class="text-center mt-5">
                <p class="text-grayish">조회일 기준으로 일주일 이상 지난 데이터는 자동으로 삭제됩니다.</p>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="modal-title"></h6>
                            <div id="phone-copy" class="text-muted ms-2 cursor-hand"><i class="far fa-copy"></i></div>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div id="result">

                                <!-- 상메 -->
                                <p id="target_status" class="text-break mb-4 text-default">-</p>

                                <!-- 뮤직 -->
                                <div id="current_profile_music" class="hide">
                                    <div class="d-flex align-items-center mb-4">
                                        <div class="flex-shrink-0">
                                            <img src="" alt="" class="img-fluid border border-dark border-1" style="width: 50px;">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <div class="d-flex flex-row align-items-center">
                                                <div>
                                                    <strong class="mb-0 me-2">-</strong>
                                                    <p class="text-break text-muted mb-0 me-2 text-default">-</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Tabs navs -->
                                <ul class="nav nav-tabs mb-3" id="ex-with-icons" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" id="ex-with-icons-tab-1" data-mdb-toggle="tab" href="#ex-with-icons-tabs-1" role="tab"
                                           aria-controls="ex-with-icons-tabs-1" aria-selected="true"><i class="fas fa-user-alt fa-fw me-2 a-ico"></i><span>프로필</span></a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="ex-with-icons-tab-2" data-mdb-toggle="tab" href="#ex-with-icons-tabs-2" role="tab"
                                           aria-controls="ex-with-icons-tabs-2" aria-selected="false"><i class="fas fa-image fa-fw me-2 a-ico"></i><span>배경사진</span></a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="ex-with-icons-tab-3" data-mdb-toggle="tab" href="#ex-with-icons-tabs-3" role="tab"
                                           aria-controls="ex-with-icons-tabs-3" aria-selected="false"><i class="fas fa-video fa-fw me-3 a-ico"></i><span>동영상</span></a>
                                    </li>
                                </ul>
                                <!-- Tabs navs -->

                                <!-- Tabs content -->
                                <div class="tab-content" id="ex-with-icons-content">
                                    <!-- 1 -->
                                    <div class="tab-pane fade show active" id="ex-with-icons-tabs-1" role="tabpanel" aria-labelledby="ex-with-icons-tab-1">
                                        <div id="lightbox" class="lightbox" data-mdb-zoom-level="0.25">
                                            <div class="row" id="tab1_res">
                                                <!---->
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 2 -->
                                    <div class="tab-pane fade" id="ex-with-icons-tabs-2" role="tabpanel" aria-labelledby="ex-with-icons-tab-2">
                                        <div class="lightbox" data-mdb-zoom-level="0.25">
                                            <div class="row" id="tab2_res">
                                                <!---->
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 3 -->
                                    <div class="tab-pane fade" id="ex-with-icons-tabs-3" role="tabpanel" aria-labelledby="ex-with-icons-tab-3">
                                        <div class="row" id="tab3_res">
                                            <!---->
                                        </div>
                                    </div>

                                </div>
                                <!-- Tabs content -->

                                <div id="move-top" class="float-end my-2">
                                    <a href="#result"><small class="text-muted">맨 위로</small></a>
                                </div>

                                <!-- toast -->
                                <div
                                        class="toast fade mx-auto"
                                        id="basic-success-example"
                                        role="alert"
                                        aria-live="assertive"
                                        aria-atomic="true"
                                        data-mdb-autohide="true"
                                        data-mdb-delay="2000"
                                        data-mdb-position="top-right"
                                        data-mdb-append-to-body="true"
                                        data-mdb-stacking="true"
                                        data-mdb-width="350px"
                                        data-mdb-color="success"
                                >
                                    <div class="toast-header">
                                        <strong class="me-auto">kakaoscan</strong>
                                        <button type="button" class="btn-close" data-mdb-dismiss="toast" aria-label="Close"></button>
                                    </div>
                                    <div class="toast-body">전화번호가 복사되었습니다.</div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script th:src="@{|/js/common.js?t=${tick}|}"></script>
<script src="https://unpkg.com/clipboard-polyfill@4.0.0/dist/es5/window-var/clipboard-polyfill.window-var.promise.es5.js"></script>
<!-- MDB -->
<script type="text/javascript" src="/mdb/js/mdb.min.js"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        const modal = $('#exampleModal');
        const modalTitle = $('#modal-title');
        const modalInstance = new mdb.Modal(modal);
        const targetStatusMessage = $('#target_status');
        const currentMusic = $('#current_profile_music');
        const currentMusicName = $('#current_profile_music strong');
        const currentArtistName = $('#current_profile_music p');
        const currentMusicAlbumUrl = $('#current_profile_music img');
        const tab1 = $('#tab1_res');
        const tab2 = $('#tab2_res');
        const tab3 = $('#tab3_res');
        const toastInstance = mdb.Toast.getInstance($('#basic-success-example'));

        const historyList = [[${historyDTOS}]];

        $('table tr').click(function () {
            currentMusic.addClass('hide');
            targetStatusMessage.text('');

            var name = $(this).find('td:first-child .fw-bold').text();
            var phone = $(this).find('td:first-child .text-muted').text();

            for (var i = 0; i < historyList.length; i++) {
                var v = historyList[i];
                if (v.phoneNumber === phone) {

                    res = v.scanResult;

                    targetStatusMessage.text(decodeString(res.StatusMessage));

                    if (res.hasOwnProperty('MusicName') && res.MusicName.length > 0 && res.hasOwnProperty('MusicAlbumUrl') && res.MusicAlbumUrl.length > 0) {
                        currentMusicName.text(res.MusicName);
                        currentArtistName.text(res.ArtistName);
                        currentMusicAlbumUrl.attr('src', res.MusicAlbumUrl.replace('http://', 'https://'));
                        currentMusic.removeClass('hide');
                    }

                    render(tab1, res, 'ImageUrl', '.mp4.jpg', 'col-lg-auto b-4');
                    render(tab2, res, 'BgImageUrl', '.mp4.jpg', 'col-lg-auto b-4');
                    render(tab3, res, 'VideoUrl', '.mp4', 'ratio ratio-16x9 b-4');
                    break;
                }
            }

            modalTitle.text(decodeString(name) + ' | ' + phone);
            modalInstance.show();
        });

        function copyToClipboard(text) {
            clipboard.writeText(text)
                .then(() => {
                    toastInstance.show();
                })
                .catch((error) => {
                    console.error(error);
                });
        }

        $(document).on("click", "#phone-copy", function () {
            copyToClipboard(modalTitle.text().split(' | ')[1]);
        });
    });

</script>
</body>